.page{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10rem);
  padding: 0px 0.5rem;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}