spring.application.name=backend
spring.datasource.url=jdbc:postgresql://localhost:5332/mabuhay
spring.datasource.username=theodenmelgar
spring.datasource.password=password

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username={THE EMAIL}
spring.mail.password={THE APP PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

security.jwt.secret-key={jwtSecretKey}
security.jwt.expiration-time=900000

aws.bucket.name={S3_BUCKET_NAME}
cloud.aws.credentials.access-key={S3_ACCESS_KEY}
cloud.aws.credentials.secret-key={S3_SECRET_KEY}
cloud.aws.region={S3_REGION}

app.frontend.url={FRONTEND_URL}